// import variable.scss
@use './scss/variables.scss' as *;

@import "bootstrap/scss/bootstrap";

// **************************************************
//                      THEMES
// **************************************************
.ui.light-mode{
  background-color: $main-light;
  & *{
    color: #000;
  }
  nav{
    aside{
      background-color: $nav-light;
      .icon-container:hover{
        background-color: $beige;
      }
      .router-link-active svg{
        fill: $beige;
      }
    }
  }
  .explorer{
    background-color: $explorer-light;
  }
  .homepage{
    .container-centered{
      h3{
        span::after{
          background-color: $beige;
        }
      }
      .info{
        .buttons{
          ._btn{
            border: 1px solid $beige;
          }
          ._btn-primary{
            background-color: $beige;
          }
          ._btn-secondary{
            background-color: $nav-light;
            color: #000;
            &:hover{
              background-color: $beige;
            }
          }
        }
      }
    }
  }
  main{
    .technologies{
      .column{
        background-color: $explorer-light;
        h5{
          color: $beige;
        }
      }
      .tech{
        i{
          color: $beige;
        }
        .name{
          color: $beige;
        }
      }
    }
    .card-projects{
      background-color: $explorer-light;
      .content{
        .badge{
          &:hover{
            background-color: #d7cb90bb;
          }
        }
      }
    }
  }
}
.toolbar.light-mode{
  .toolbar-content{
    background-color: $toolbar-light;
    color: #000;
  }
}

footer.light-mode{
  .footer-content{
    background-color: $toolbar-light;
  }
}

// **************************************************
//                      ANIMATIONS
// **************************************************

@keyframes btn1 {
  from{
    left: -200px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}

@keyframes btn2 {
  from{
    right: -200px;
    opacity: 0;
  }
  to{
    right: 0;
    opacity: 1;
  }
}

@keyframes blinker-btn {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(.95);
  }
}

@keyframes first {
  from{
    top: -200px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}

@keyframes second {
  from{
    left: 400px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
}

@keyframes third {
  from{
    bottom: -200px;
    opacity: 0;
  }
  to{
    bottom: 0;
    opacity: 1;
  }
}

@keyframes blinker {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
// **************************************************
//                      ASSETS
// **************************************************
.ui{
  display: flex;
  width: 100vw;
  height: calc(100dvh - 50px);
  background-color: $main-dark;
}

body{
  font-family: 'JetBrains Mono', monospace;
}

a{
  color: #fff;
  text-decoration: none;
  &:hover{
    color: #fff;
  }
} 	




