// **************************************
//              VARIABLES
// **************************************

// dark mode
$main-dark: #2A2D3E;
$explorer-dark: #1A1D2A;
$nav-dark: #1c1e2b;
$toolbar-dark: #1B1E2B;

// light mode


// colors
$light-blue: #80CBC4;