// **************************************
//              VARIABLES
// **************************************

// dark mode
$main-dark: #2A2D3E;
$explorer-dark: #1A1D2A;
$nav-dark: #1c1e2b;
$toolbar-dark: #1B1E2B;

// light mode
$main-light: #FDF6E3;
$explorer-light: #EEE8D5;
$nav-light: #DDD6C1;
$toolbar-light: #D9D2C3;

// colors
$light-blue: #80cbc4;
$beige: #ac9d58;